@charset "UTF-8";

.main {
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 15px;
  background-color: rgb(255,255,255);
}

.main h1 img {
  width: 100%;
}

.main .inner,
.result .inner {
  width: 90%;
  margin: 0 5%;
}

.unit-conditions {
  position: relative;
  padding: 20px 0;
  border-top: 2px solid #E6E6E6;
}

.unit-conditions:first-of-type,
.unit-conditions:last-of-type {
  border-top: none;
}

.unit-conditions .title {
  padding-top: 10px;
  border-right: 2px solid #E6E6E6;
}

#free .title h2 {
  color: #0080FF;
}

#international .title {
  padding-bottom: 10px;
}

.unit-conditions h2 {
  margin-top: 5px;
}

#support label,
#pro label,
#international label {
  position: relative;
  top: 40%;
}

#free .selection > div {
  width: 100%;
}

#free .selection input {
  width: calc(100% - 100px);
}

#free .selection button img {
  width: 25px;
  max-height: 100%;
  vertical-align: middle;
}

#field .selection img {
  width: 100%;
}

#area .selection img {
  width: 100%;
}

.result {
  margin: 15px auto 0;
  padding: 10px 0;
  background-color: rgb(255,255,255);
  max-width: 1020px;
}

#field input, #area input {
  display: none;
}

#field input:checked + img {
  opacity: 0.4;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#area .selection input + img {
  display: inline-block;
}

#area .selection input + img + img {
  display: none;
}

#area input:checked + img  {
  display: none;
}

#area input:checked + img + img  {
  display: inline-block;
}

.unit-triangle {
  margin: 0 auto;
  text-align: center;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #FFF;
}

.unit-result {
  margin: 0!important;
  padding: 20px 0!important;
  border-bottom: 1px solid #1e87f0;
}

.unit-result:first-of-type {
  border-top: 1px solid #1e87f0;
}

.image-result {
  padding-left: 10px;
  border-left: 2px solid #1e87f0;
}

.image-result img {
  width: 100%;
}

.unit-result .uk-label.support {
  background-color: #FF6419;
}

.unit-result .uk-label.professional {
  background-color: #802780;
}

.field-result .uk-label,
.international-result .uk-label {
  background-color: #FFF;
  border: 1px solid #1e87f0;
  color: #1e87f0;
}

@media (min-width: 960px) {
  .image-result {
    width: calc(20% + 10px);
  }

  .label-result {
    margin-bottom: 10px;
  }
  .name-result {
    margin-bottom: 10px;
  }

  .address-result {
    margin-bottom: 10px;
  }

  .data-result {
    width: calc(80% - 20px);
    padding-left: 10px!important;
  }

  .field-result {
    position: relative;
  }

  .international-result .display-label {
    position: relative;
    top: 1px;
  }

  .field-result img {
    position: relative;
    top: 4px;
  }

  .link-result {
    width: calc(100% * 1 / 2.6);
    margin-top: 8px!important;
    padding-left: 20px;
    
}
  }

  .link-result img {
    width: 100%;
  }
}

/* header searchページの処理 */
.h-img2{
  display: none !important;
}
.h-img2-sp{
  display: inline-block !important;
}
.h-onoff2{
  background-color: rgb(235,0,127) !important;
}
/*----*/
