/* font size */
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}

/* margin */
.mt-10 {
  margin-top: 10px;
}
.mt-1rem {
  margin-top: 1rem;
}
.mt-2rem {
  margin-top: 2rem;
}
.mt-3rem {
  margin-top: 3rem;
}
.mt-4rem {
  margin-top: 4rem;
}

.mr-1rem {
  margin-right: 1rem;
}

/* padding */
.pd-5 {
  padding: 5px;
}

/* display */
.flex {
  display: flex;
}

/* width */
.wd-5 {
  width: 5%;
}
.wd-10 {
  width: 10%;
}
.wd-15 {
  width: 15%;
}
.wd-20 {
  width: 20%;
}
.wd-25 {
  width: 25%;
}
.wd-30 {
  width: 30%;
}
.wd-40 {
  width: 40%;
}
.wd-50 {
  width: 50%;
}

.title {
  border-bottom: 1.5px solid #4872e7;
  padding: 5px;
  font-weight: bold;
}

.table-des {
  color: black;
}

table {
  border: 1.5px solid #6986d6;
  border-collapse: collapse;
  width: 100%;
}

table td, th {
  padding:25px 10px;
  border-bottom: 1.5px solid #6986d6;
  border-left: 1.5px solid #6986d6;
}

th {
  text-align: left;
  background: #cbe5f3;
}

.flex .sub-table {
  width: 50%;
}